* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* text-decoration: none;
  list-style-type: none; */
  text-align: center;
  justify-content: center;
}
body {
  /* background-color: rgb(244, 231, 215); */

  background-size: cover;
  font-family: system-ui;
}
.reserva {
  gap: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24303c;
}

/* .cart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 65px;
  padding: 0px 30px 0px 30px;
  position: fixed;
  top: 0;
  z-index: 2;
} */

ul a {
  color: white;
  text-decoration: none;
}
ul {
  list-style: none;
  /* display: flex; */
  gap: 10px;
}

a:hover {
  background-color: rgb(157, 193, 178);
}
header {
  background: white;
  height: 80px;
  width: 100%;
  padding: 0px 30px 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  position: fixed;
  z-index: 2;
}

.navar-link {
  text-decoration: none;
  color: black;
  font-weight: 300;
}
.navbar i {
  font-size: 40px;
  display: flex;
  height: 30px;
}
#toggle-menu {
  display: none;
}

.logo {
  height: 60px;
}
.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar,
.navbar-list,
.cart-icon {
  width: 50%;
  justify-content: center;
  background-color: white;
}

.navbar {
  gap: 150px;
}

.navbar-list {
  gap: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.navbar-list a {
  color: rgb(5, 2, 184);
  font-size: 14px;
  font-weight: 600;
}

.navbar-list li:first-child > a {
  font-weight: 600;
  height: 30px;
  width: 100px;
  padding: 5px 10px;
  margin-right: 1rem;
  color: rgb(59, 59, 209);
  cursor: pointer;
}
.cart-icon {
  font-weight: 600;
  height: 30px;
  width: 100%;
  padding: 5px 10px;
  margin-right: 1 rem;
  color: var(--text-white);
  cursor: pointer;
}
/* -------------------------------------------------------- */
main {
  background-color: #fdf8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(12, 12, 12);
  width: 100%;
}
#hero {
  margin-top: 80px;
  display: flex;
  padding: 60px 0;
  justify-content: center;
  align-items: center;
  background-color: #24303c;
  color: white;
}
.hero-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}

/* .hero-info p {
  font-size: 16px;
  width: 70%;
  color: var(--tex-gray);
}
.hero-info p {
  font-weight: 1000;
} */
.nuestro-clientes {
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
.contacto {
  display: flex;
  align-items: center;
}
/* .hero-info a {
  color: rgb(254, 254, 254);
  background-color: #b64242;
  width: 120px;
  padding: 10px 10px;
  border-radius: 20px;
  font-size: 15px;
  text-align: center;
  gap: 30px;
} */
footer {
  background-color: rgb(182, 74, 92);
  color: rgb(255, 252, 252);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px 0;
}
.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 700px) {
  .hero-card {
    display: none;
  }
  .navbar ul {
    background: rgb(255, 255, 255);
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    transform: translateX(200%);
  }
  #toggle-menu:checked ~ .navbar-list {
    transform: translateX(0%);
    align-items: center;
    justify-content: center;
    background-color: rgb(229, 229, 229);
    width: 110%;
  }
  .navbar i {
    display: block;
  }
  #toggle-menu:checked ~ .navbar-list {
    display: flex;
  }
  .navar-link {
    text-decoration: none;
    color: black;
    font-weight: 300;
  }

  footer {
    background-color: rgb(182, 74, 92);
    color: rgb(255, 252, 252);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px 0;
  }
  .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer ul {
    list-style: none;
    display: block;
  }
  .imagen {
    display: none;
  }
}
